.chat-id-sidebar {
  text-align: center;  
  cursor: pointer;
  max-height: 90vh;
  overflow: scroll;
}

.chat-id-sidebar ul li:hover {
  background: rgba(248, 248, 250, 1);
}

th {
  padding: 15px;
}

.chat-details {
  max-height: 90vh;
  overflow: scroll;
}

svg circle {
  cursor: pointer;
}

.loc-name {
  float: right;
  position: absolute;
  bottom: 30px;
  right: 20%;
}