<template name="layout">
  <div class="wrapper">
    <div class="box">
      <div class="row row-offcanvas row-offcanvas-left">


        <!-- sidebar -->
        <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

          <ul class="nav">
            <li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
          </ul>

          <ul class="nav hidden-xs" id="lg-menu">
            <li><a class='all' href="{{pathFor 'home'}}"><i class="fa fa-list"></i> &nbsp;&nbsp;&nbsp; All Locations</a></li>
            <li><a class='top10' href="{{pathFor 'top10'}}"><i class="fa fa-heart"></i> &nbsp;&nbsp;&nbsp;Top 10 Locations</a></li>
          </ul>
          <ul class="list-unstyled hidden-xs" id="sidebar-footer">
            <li>
              <a href="https://github.com/channikhabra/chattycharty"><h3>ChatyCharty</h3> <i class="fa fa-github"></i> Github</a>
            </li>
          </ul>

          <!-- tiny only nav-->
          <ul class="nav visible-xs" id="xs-menu">
            <li><a href="#" class="text-center"><i class="glyphicon glyphicon-list"></i></a></li>
          </ul>

        </div>
        <!-- /sidebar -->

        <!-- main right col -->
        <div class="column col-sm-10 col-xs-11" id="main">

          {{ > yield}}

        </div>
        <!-- /main -->

      </div>
    </div>
  </div>

  <!-- script references -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/scripts.js"></script>

</template>
